name: svc-users-ci
on:
  push:
    branches: [ main ]
    paths:
      - '**'
permissions:
  contents: read
  packages: write
jobs:
  build:
    uses: jagadeesh-ml/platform/.github/workflows/reusable-ci.yml@main
    with:
      service_name: svc-orders
      path_filter: .
