name: svc-orders-ci

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    uses: jagadeesh-ml/platform/.github/workflows/reusable-ci.yml@main
    with:
      service_name: svc-orders
      path_filter: "."
